@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.otp-input {
  width: 3rem; /* Adjust the width as needed */
  height: 2rem; /* Optional: Adjust the height if desired */
  margin: 0 0.5rem; /* Optional: Adjust the margin between input boxes */
  text-align: center;
  font-size: 1.5rem; /* Optional: Increase font size for better visibility */
  border: 1px solid #ccc; /* Optional: Style the border */
  border-radius: 0.25rem; /* Optional: Add rounded corners */
}

.otp-container {
  display: flex;
  justify-content: center;
}